<?xml version="1.0" encoding="utf-8"?>
<!-- Файл сформирован автоматически ({{generatorName}}). Правки будут потеряны. -->
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">
{{#osClasses}}    <class name="{{className}}" file="{{classFile}}"/>
{{/osClasses}}</package-def>
